:root {
    --primary-color: #0b1827;
    --secondary-color: #11171a;
    --font-color:#EEEEEE;
    --buttons-color:#F6C90E;
  
}

h1 {
    font-size: 96px;
font-family: "Playfair Display", serif;

}
p {

font-weight: normal;
font-size: 18px
}
.hero{
    background: var(--primary-color);
    text-align: center;
    color:var(--font-color) ;
    padding: 160px 20px;
}
.content-section{
    background: var(--primary-color);
        text-align: center;
        color: var(--font-color);
        padding: 100px 20px;
}
.hero p{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
hero h2{
    font-family: "Poppins", serif;
    font-weight: normal;
    line-height: 2;
}
.btn-warning {
    background-color:var(--buttons-color);
    color:var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    padding: 10px 20px;
    font-family:"Poppins", serif;
}

.projects-below{
    color:var(--secondary-color);
    font-family:"Poppins", serif;
     font-size: 16px;  
}
.project-img {
    max-width: 100%;
    height: auto;
}
.projects-heading{
    font-family:"Playfair Display",
        serif; 
    font-size: 44px;
    color: var(--primary-color)
}
.projects-description {
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 2;
}
.btn-branding-outline {
    color: var(--primary-color);
    font-size: 18px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid var(--primary-color);
}
.text-block{
    padding: 50px 60px 0;
}
.about-heading{
    font-size: 56px;
}
.content-section p{
    font-family: "Poppins",
        serif;
        font-size: 18px;      
        margin-bottom: 30px;
}
.projects-section h3 {
    font-family: "Poppins", serif;
}

.contact-section a{
font-family: "Poppins", serif;
font-size: 24px;
  color: var(--secondary-color)
 
}

@media(max-width: 960px) {
 .text-block{
    padding:0;
    text-align: center;
  
 }
 h1 {
    font-size: 56px;
 }
.projects-heading {
    font-size: 28px;    
}
.hero {
    padding: 80px 20px;
}
.girl-img {
margin-top: 20px;
max-width: 200px;

}
.about-section p{
    margin-bottom: 10px;    
}
.about-heading{
font-size: 36px;

}
}